body {
    margin: 0px;
    padding: 0px;
}

.main_notify {
    margin: auto;
    left: 0; right: 0;
    padding: 5px;
    display: none;
    position: absolute;
    text-align: center;
    background-color: khaki;
    color: ForestGreen;
    width: 350px;
}

.main_header {
    width: 100%;
    height: 100px;
}

.function {
    height: 40px;
    width: 100%;
    text-align: center;
    vertical-align: center;
    color: ForestGreen;
    background-color: khaki;
}

.filter_plan {
    font-size: 14px;
    padding: 5px;
    float: left;
}

.filter {
    display: none;
}

.admin {
    font-size: 14px;
    padding: 5px;
    float: left;
}

input.input_ajax {
    margin: 0px;
    padding: 0px;
    border-color: blue;
    width: 100%;
}

textarea.textarea_ajax {
    margin: 0px;
    padding: 0px;
    border-color: blue;
    width: 100%;
}

.autocomplete {
    list-style:none;
    padding:0;
    margin:0;
}

select.select_ajax {
    margin: 0px;
    padding: 0px;
    border: 1px;
    width: 100%;
}

th {
	text-align: center;
}

.name {
	width: 6% !important;
}

.theme_function {
	width: 10% !important;
}

.version {
	width: 4% !important;
}

.status {
	width: 5% !important;
}

.stage {
	width: 6% !important;
}

.stage_title {
	width: 12% !important;
}

.stage_date {
	width: 6% !important;
}

.note {
	width: 20% !important;
}
