input.input_ajax {
    margin: 0px;
    padding: 0px;
    border-color: blue;
    width: 100%;
}

textarea.textarea_ajax {
    margin: 0px;
    padding: 0px;
    border-color: blue;
    width: 100%;
}

.autocomplete {
    list-style:none;
    padding:0;
    margin:0;
}

select.select_ajax {
    margin: 0px;
    padding: 0px;
    border: 1px;
    width: 100%;
}

th {
	text-align: center;
}

.name {
	width: 6% !important;
}

.theme_function {
	width: 10% !important;
}

.version {
	width: 4% !important;
}

.status {
	width: 5% !important;
}

.stage {
	width: 6% !important;
}

.stage_title {
	width: 12% !important;
}

.stage_date {
	width: 6% !important;
}

.note {
	width: 20% !important;
}
