@font-face {
    font-family: "System\ San\ Francisco\ Text\ Bold";
    src: url(//:) format("no404"), url("../fonts/System\ San\ Francisco\ Text\ Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "System\ San\ Francisco\ Text\ Heavy";
    src: url(//:) format("no404"), url("../fonts/System\ San\ Francisco\ Text\ Heavy.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "System\ San\ Francisco\ Text\ Regular";
    src: url(//:) format("no404"), url("../fonts/System\ San\ Francisco\ Text\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-face-display {
    font: 12px System\ San\ Francisco\ Text\ Regular, Droid\ Sans\ Fallback, sans-serif;
}

.font-table-header {
    font: 16px System\ San\ Francisco\ Text\ Bold, Droid\ Sans\ Fallback, sans-serif;
    font-weight: bold;
}

.font-notify {
    font: 14px System\ San\ Francisco\ Text\ Regular, Droid\ Sans\ Fallback, sans-serif;
}

.font-header {
    font: 36px System\ San\ Francisco\ Text\ Bold, DroidSansFallback, sans-serif;
    font-weight: bold;
}

html {
    overflow: auto;
}

body {
    margin: 0px;
    padding: 5px;
	background-color: #e6EEEE;
}

table.tablesorter {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

table.admin_page {
    margin: 0px 0 0px;
    width: 100%;
	background-color: khaki;
}

.main_notify {
    left: 0; top:0; right: 0;
    padding: 5px;
    display: none;
    position: absolute;
    text-align: center;
    background-color: khaki;
    color: ForestGreen;
    width: 350px;
}

.logo {
    vertical-align:middle;
}

.function {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    color: ForestGreen;
    background-color: khaki;
}

.filter_plan {
    font-size: 14px;
    padding: 5px;
    float: left;
}

.filter_term {
    padding: 2px;
    text-align: center;
    font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
}

.chart {
    margin: 5px;
    float: left;
}

#refresh{
    background: url('../img/refresh_24x24.png') no-repeat 70px;
    background-color: #e3e3e3;
}

.chart_repost {
    background-color: skyblue;
}

.admin {
    font-size: 14px;
    padding: 5px;
    float: right;
}

.export {
    font-size: 14px;
    padding: 5px;
    float: right;
}

.where{
    margin: 0px;
    padding: 5px;
    height: auto;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 14px;
}

.where_and {
    padding: 2px;
    margin: 2px;
    color: green;
}

.where_key {
    padding: 2px;
    margin: 2px;
    color: green;
}

.where_value {
    padding: 2px;
    margin: 2px;
    border: medium double rgb(250,0,255);
    color: blue;
    background-color: yellowgreen;
}

.model_text {
    font-size: 14px;
    padding: 5px;
    float: right;
}

.save_filter {
    font-size: 14px;
    padding: 5px;
    float: right;
}

.filter {
    display: none;
}


.input_ajax {
    margin: 0px;
    padding: 0px;
    width: 96%;
}

.textarea_ajax {
    margin: 0px;
    padding: 0px;
    width: 96%;
}

.select_ajax {
    margin: 0px;
    padding: 0px;
    width: 96%;
}

.autocomplete {
    padding: 0px;
    margin: 0px;
    list-style:none;
}

 .header {
	text-align: center;
}

.stage_title {
	text-align: center;
}

.name {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 60px !important;
}

.theme_function {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 120px !important;
}

.version {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 60px !important;
}

.status {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 60px !important;
}

.stage {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 80px !important;
}

.stage_title {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px !important;
}

.stage_date {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px !important;
}

.stage_color {
    margin: 2px;
    padding: 2px;
    height: 20px;
    width: 85px !important;
}


.note {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}


button::-moz-focus-inner {
  border: 0; }
/* minimal
*******************************************************************************/
button.minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 100px; }
  button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
  button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }

  /* clean gray
*******************************************************************************/
button.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 100px; }
  button.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

/* cupid green (inspired by okcupid.com)
*******************************************************************************/
button.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 100px; }
  button.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  button.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }
